GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=https://SEU-APP.onrender.com/auth/google/callback
APP_KEY=escolha-uma-senha-aleatoria-bem-dificil
GOOGLE_REFRESH_TOKEN=
GROQ_API_KEY=cole-aqui-sua-chave-gratuita-da-groq
