GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=https://SEU-APP.onrender.com/auth/google/callback
APP_KEY=escolha-uma-senha-aleatoria-bem-dificil
GOOGLE_REFRESH_TOKEN=
GROQ_API_KEY=cole-aqui-sua-chave-gratuita-da-groq
OPENWEATHER_API_KEY=cole-aqui-sua-chave-gratuita-da-openweathermap
UPSTASH_REDIS_REST_URL=cole-aqui-a-url-do-seu-banco-upstash
UPSTASH_REDIS_REST_TOKEN=cole-aqui-o-token-do-seu-banco-upstash
